.body{
  background-color: #0000ff !important;
}

.navbar-logo {
  display: none;
}

@media (max-width: 768px) {
  .navbar-logo {
    display: inline-block;
  }
  .img-main {
    display: none;
  }
}
